// #Welcome right content-area
.welcome-jumbo {
    background: rgb(237, 75, 82); /* Old browsers */
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        rgba(237, 75, 82, 1) 0%,
        rgba(156, 27, 36, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        rgba(237, 75, 82, 1) 0%,
        rgba(156, 27, 36, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(
        ellipse at center,
        rgba(237, 75, 82, 1) 0%,
        rgba(156, 27, 36, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    max-width: calc(100vw - 300px);
    transform: translate3d(300px, 0, 0);
    overflow: hidden;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .status {
        align-self: flex-start;
        background: black;
        border-radius: 5px;
        color: white;
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 10px 15px;
    }
    h1 {
        align-self: flex-start;
        color: white;
        font-size: 4rem;
        font-weight: 900;
        margin-bottom: 100px;
    }
    .burger-fries {
        // max-width:1000px;
        width: 100%;
        // animation: moveUpandDown 1s linear infinite;
        position: relative;
    }
    // @keyframes moveUpandDown {
    //     0%, 100%{
    //         bottom:0;
    //     }
    //     50%{
    //         bottom:30px
    //     }
    // }
}

/* Mobile Responsive */

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//     .side-menu {
//         // display: none;
//     }
// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
