// Styling for each ID and Class is set in alphabetical order, FLEXBOX & GRID don't follow this rule

// Styling Belong's To Landing Page
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "reset";
@import "bootstrap.min.css";
@import "home";
@import "footer";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/waitlist";
@import "./pages/offers";
@import "./menu/index";
@import "./menu/_single-menu";

body {
    background: white;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    // font-family: "Roboto", sans-serif;
    font-family: "Nunito", sans-serif;
}

p {
    // font-family: "Montserrat", sans-serif;
}

// Navigation Bar
#headerNav {
    display: none;
}

// home-page 1st section
#app-layout {
    display: grid;
    // grid-template-columns: 350px 1fr;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    // #app-layout main left menu
    .side-menu {
        background: white;
        height: 100vh;
        padding: 50px;
        position: absolute;
        width: 300px;
        .logo {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            img {
                max-width: 100px;
            }
        }
        .menu {
            margin-bottom: 50px;
            .menu-title {
                color: #0971ce;
                border-bottom: 1px solid #e2eaef;
                font-size: 1.2rem;
                font-weight: 700;
                margin-bottom: 20px;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            .links {
                li {
                    a {
                        color: black;
                        display: block;
                        font-size: 1.1rem;
                        font-weight: 700;
                        margin-bottom: 1.4rem;
                        text-decoration: none;
                        transition: color 0.3s ease-in-out;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
        .social-icons {
            display: flex;
            a {
                background: #c2c8cc;
                border-radius: 50%;
                color: white;
                font-size: 0.9rem;
                height: 30px;
                margin-right: 10px;
                text-decoration: none;
                width: 30px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .location {
            bottom: 100px;
            position: absolute;
            // margin-top: auto;
            .address {
                color: #7a8d99;
                line-height: 1.7;
                margin-bottom: 20px;
            }
            .phone-number {
                a {
                    color: #0971ce;
                    font-size: 2rem;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
    }
    // Main app content-area
    #content-section {
        background: rgb(237, 75, 82); /* Old browsers */
        background: -moz-radial-gradient(
            center,
            ellipse cover,
            rgba(237, 75, 82, 1) 0%,
            rgba(156, 27, 36, 1) 100%
        ); /* FF3.6-15 */
        background: -webkit-radial-gradient(
            center,
            ellipse cover,
            rgba(237, 75, 82, 1) 0%,
            rgba(156, 27, 36, 1) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(
            ellipse at center,
            rgba(237, 75, 82, 1) 0%,
            rgba(156, 27, 36, 1) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        max-width: calc(100vw - 300px);
        transform: translate3d(300px, 0, 0);
        // overflow: hidden;
    }
}
// Restaurant info 2nd section
#information {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
    // #information image
    .restaurant-image {
        overflow: hidden;
        height: 100%;
        img {
            // max-height:500px;
            // object-fit: cover;
            // object-position: 0 0;
            width: 100%;
        }
    }
    // #information content
    .info {
        padding: 100px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .paragraphs {
            color: #525e66;
            font-size: 1.1rem;
            line-height: 1.7;
            margin-bottom: 3rem;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 20px;
        }
        .about-link {
            color: inherit;
            font-size: 1.8rem;
            font-weight: 700;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                margin-right: 20px;
            }
            .circle-right {
                background: rgba(156, 27, 36, 1) 100%; /* Old browsers */
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                .fa-chevron-right {
                    color: white;
                    font-size: 1.3rem;
                    padding: 2px 0 0 3px;
                }
            }
        }
    }
}
// Preview restaurant menu 3rd section
#food-preview {
    background: #f4f8fb;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h2 {
        text-align: center;
        margin-bottom: 3rem;
    }
    // "View 0ur Menu" button
    .button-rounded {
        background: #ed4852;
        border-radius: 30px;
        color: white;
        display: inline-block;
        margin-bottom: 130px;
        padding: 15px;
    }
    //Slider div for left and right buttons
    .container {
        max-width: 1400px;
        width: 100%;
        position: relative;
        .left-btn,
        .right-btn {
            background: red;
            color: white;
            cursor: pointer;
            height: 50px;
            position: absolute;
            top: calc(50% - 25px);
            width: 50px;
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .left-btn {
            left: -35px;
        }
        .right-btn {
            right: -35px;
        }
    }
    //Slider div that keeps overflowing menu-cards/slides hidden
    .food-slider {
        font-size: 0;
        // display: flex;
        // margin-bottom:3rem;
        max-width: 1400px;
        overflow: hidden;
        position: relative;
        width: 100%;
        //Main slider div that moves slides
        .sliding-system {
            white-space: nowrap;
            transform: translate3d(0, 0, 0);
            transition: all 0.3s ease-in-out;
        }
        // This is styling for each menu-card/slide
        .slide {
            display: inline-block;
            position: relative;
            height: 500px;
            width: 20%;
            white-space: normal;
            cursor: pointer;
            &:hover {
                .background {
                    // background: #ed4852;
                    background: rgb(245, 156, 46);
                    transform: translate3d(0, -200px, 0);
                }
                .content {
                    .food-title {
                        color: white;
                    }
                    .food-description {
                        color: white;
                    }
                }
            }
            .background {
                background: white;
                bottom: 0;
                height: 100%;
                top: 0;
                position: absolute;
                transition: transform 0.4s ease-in-out;
                width: 100%;
                z-index: 1;
            }
            .content {
                padding: 20px;
                position: absolute;
                // transition: all .3s ease-in-out;
                width: 100%;
                z-index: 1;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                .food-title {
                    color: #ed4852;
                    font-size: 2rem;
                    font-weight: 900;
                    margin-bottom: 3rem;
                    // transition: all .3s ease-in-out;
                }
                .food-description {
                    color: #7a8d99;
                    font-size: 0.8rem;
                    font-weight: 400;
                    line-height: 1.8;
                    // transition: all .3s ease-in-out;
                    margin-bottom: 3rem;
                }
            }
            .food-image {
                img {
                    width: 95%;
                    max-width: 250px;
                }
            }
        }
    }
}
//Global h2 style
h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.content-box {
    background: white;
    padding: 20px;
}

.edit-btn {
    &:hover {
        color: #0056b3;
    }
}

.lock-scroll {
    overflow: hidden;
}

/* Mobile Responsive */

// Small devices (landscape phones, 767px and below)
@media (min-width: 0px) and (max-width: 767px) {
    h2 {
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: 2rem;
    }
    .animated {
        transform: translate3d(0, -100%, 0);
    }
    .sticky {
        transform: translate3d(0, 0, 0);
    }
    #headerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        position: fixed;
        padding: 5px 4%;
        transition: all 0.4s ease-in-out;
        width: 100%;
        height: 45px;
        z-index: 5;
        .navbar-toggler {
            &:focus {
                outline: none;
            }
            .hamburger-icon {
                position: relative;
                width: 34px;
                height: 24px;
                transition: transform 0.4s;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 22px;
                    height: 2px;
                    background-color: #fff;
                    transition: background 0.3s;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateY(-6px);
                        display: block;
                        width: 22px;
                        height: 2px;
                        background-color: #fff;
                        transition: transform 0.5s;
                    }
                    &::after {
                        transform: translateY(6px);
                    }
                }
            }
            .is-opened {
                span {
                    background: transparent;
                    &::before {
                        transform: translateY(0) rotate(45deg);
                    }
                    &::after {
                        transform: translateY(0) rotate(-45deg);
                    }
                }
            }
        }
    }
    #app-layout {
        .side-menu {
            padding: 30px 30px 0;
            position: fixed;
            top: 0;
            transform: translate3d(-100vw, 0, 0);
            transition: transform 0.3s ease-in-out;
            width: 280px;
            z-index: 6;
            .outerLayer {
                background: rgba(0, 0, 0, 0.5);
                cursor: pointer;
                bottom: 0;
                left: 280px;
                height: calc(100vh - 45px);
                width: calc(100vw - 280px);
                position: absolute;
                opacity: 0;
                transition: opacity 0.4s ease-in-out;
            }
            .logo,
            .menu {
                margin-bottom: 40px;
            }
            .social-icons {
                margin-bottom: 10px;
            }
            .location {
                position: static;
                .phone-number a {
                    font-size: 1.8rem;
                }
            }
        }
        .open-menu {
            transform: translate3d(0%, 0, 0);
            .outerLayer {
                opacity: 1;
            }
        }
        .welcome-jumbo {
            max-width: 100vw;
            padding: 20px;
            transform: translate3d(0, 0, 0);
            width: 100%;
        }
        #content-section {
            max-width: 100vw;
            overflow-y: scroll;
            padding: 20px;
            transform: translate3d(0, 0, 0);
            width: 100%;
        }
        .side-menu .location .phone-number a {
            font-size: 1.8rem;
        }
    }
    #information {
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto;
        .info {
            padding: 20px;
            .paragraphs {
                grid-template-columns: 1fr;
                p {
                    font-size: 1rem;
                }
            }
            .about-link {
                font-size: 1.4rem;
                span {
                    width: 70%;
                }
                .circle-right {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
    #food-preview {
        width: 100%;
        overflow: auto;
        padding: 20px 20px 40px;
        .food-slider {
            .sliding-system {
                white-space: normal;
                transform: translate3d(-0%, 0, 0);
            }
        }
        .button-rounded {
            margin-bottom: 2rem;
        }
        .container {
            .left-btn {
                left: -20px;
                display: none;
            }
            .right-btn {
                right: -20px;
                display: none;
            }
        }
        .food-slider {
            .slide {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .animated {
        transform: translate3d(0, -100%, 0);
    }
    .sticky {
        transform: translate3d(0, 0, 0);
    }
    #headerNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        position: fixed;
        padding: 5px 4%;
        transition: all 0.4s ease-in-out;
        width: 100%;
        height: 45px;
        z-index: 5;
        .navbar-toggler {
            &:focus {
                outline: none;
            }
            .hamburger-icon {
                position: relative;
                width: 34px;
                height: 24px;
                transition: transform 0.4s;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 22px;
                    height: 2px;
                    background-color: #fff;
                    transition: background 0.3s;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateY(-6px);
                        display: block;
                        width: 22px;
                        height: 2px;
                        background-color: #fff;
                        transition: transform 0.5s;
                    }
                    &::after {
                        transform: translateY(6px);
                    }
                }
            }
            .is-opened {
                span {
                    background: transparent;
                    &::before {
                        transform: translateY(0) rotate(45deg);
                    }
                    &::after {
                        transform: translateY(0) rotate(-45deg);
                    }
                }
            }
        }
    }
    #app-layout {
        .side-menu {
            padding: 30px 50px 0;
            position: fixed;
            top: 0;
            transform: translate3d(-100vw, 0, 0);
            transition: transform 0.3s ease-in-out;
            z-index: 6;
            .outerLayer {
                background: rgba(0, 0, 0, 0.5);
                cursor: pointer;
                bottom: 0;
                left: 300px;
                height: calc(100vh - 45px);
                width: calc(100vw - 300px);
                position: absolute;
                opacity: 0;
                transition: opacity 0.4s ease-in-out;
            }
            .logo,
            .menu {
                margin-bottom: 40px;
            }
            .social-icons {
                margin-bottom: 10px;
            }
            .location {
                position: static;
                .phone-number a {
                    font-size: 1.8rem;
                }
            }
        }
        .open-menu {
            transform: translate3d(0%, 0, 0);
            .outerLayer {
                opacity: 1;
            }
        }
        .welcome-jumbo {
            max-width: 100vw;
            transform: translate3d(0, 0, 0);
            padding: 100px 90px 20px;
            width: 100%;
        }
        #content-section {
            max-width: 100vw;
            // overflow-y: scroll;
            padding: 50px 20px 0;
            transform: translate3d(0, 0, 0);
            width: 100%;
        }
    }
    #information {
        grid-template-columns: 1fr;
        grid-template-rows: 400px auto;
        .info {
            padding: 20px;
            .paragraphs {
                grid-template-columns: 50% 50%; //like desktop V.
            }
            .about-link {
                span {
                    width: 60%;
                }
                .circle-right {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
    #food-preview {
        width: 100%;
        // overflow: auto;
        .button-rounded {
            margin-bottom: 2rem;
        }
        .container {
            .left-btn {
                left: -20px;
            }
            .right-btn {
                right: -20px;
            }
        }
        padding: 20px;
        .food-slider {
            .slide {
                width: 50%;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
