#single-menu-page {
    padding: 70px;
    .quickCategories {
        display: inline-table;
        margin-left: 6px;
        .backBtn {
            background-color: white;
            color: #0971ce;
            display: table-cell;
            font-weight: 700;
            padding: 10px;
            width: fit-content;
            .active {
                -webkit-box-shadow: 0px -6px 24px -5px rgba(0, 0, 0, 0.66);
                -moz-box-shadow: 0px -6px 24px -5px rgba(0, 0, 0, 0.66);
                box-shadow: 0px -6px 24px -5px rgba(0, 0, 0, 0.66);
                clip-path: inset(0px -15px 0px -15px);
                color: #0971ce;
            }
        }
    }
    h1 {
        color: #ed4852;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    .item {
        margin-bottom: 1rem;
        .title {
            display: flex;
            margin-bottom: 0.8rem;
            justify-content: space-between;
            width: 100%;
            h4 {
                padding-right: 0.5rem;
            }
            h4,
            .price {
                color: black;
                font-size: 1.4rem;
                font-weight: 900;
            }
        }
    }
}

/* Mobile Responsive */

// Small devices (landscape phones, 767px and below)
@media (min-width: 0px) and (max-width: 767px) {
    #single-menu-page {
        padding: 20px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #single-menu-page {
        padding: 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
